<section class="flex h-screen w-full">
    <section class="flex flex-col flex-1 justify-center">

        <div class="h-[30%] p-5">
            <!-- <img src="../../../Assets/auth04/@linkway/logo_symplice 1.png"> -->
            <h1 class="font-bold text-white">Symplice.</h1>
        </div>

        <div class="h-[70%] p-5">
            <h1 class="text-white text-4xl font-bold m-2">
                Start you <br> journey with <br> us.
            </h1>

            <h4 class="text-[#64748B]">
                Discover the world&rsquo;s best <br> community of freelancers and <br> business owners.
            </h4>
        </div>


    </section>
</section>