<section class="flex flex-row h-screen w-full">

    <section hlmCard class="flex flex-col flex-1 max-w-full h-full flex items-center justify-center">
        <div hlmCardHeader>
            <h3 hlmCardTitle class="font-bold text-2xl">Forgot password</h3>
            <p hlmCardDescription class="text-[#64748B] mt-1 mb-3">Fill you e-mail and we will send you a link to recover <br> your password.</p>
        </div>

        <div hlmCardContent class="flex flex-col max-w-full">
           
            <label class="block mb-2 w-full max-w-md" hlmLabel>
                Email
                <input class="mt-1.5 w-full border-2 rounded-md p-1" placeholder="m@example.com" hlmInput />
            </label>

        </div>

        <div hlmCardFooter class="flex flex-col max-w-md">
            <label class="block mb-4 w-full">
                <button hlmBtn class="bg-[#0F172A] text-white w-full mt-3 rounded-md p-2 max-w-md">Send me the link</button>
            </label>

            <label class="w-full">
                <p>I remembered my password. <a href="#" class="underline">Sign in</a></p>
            </label>
        </div>
    </section>

    <section class="bg-[#172745] flex-1 max-w-full h-full flex items-center justify-center">

        <app-blue-panel class="h-full w-full"></app-blue-panel>

    </section>
</section>
