<section class="flex flex-row h-screen w-full">


    <section hlmCard class="flex flex-col flex-1 max-w-full h-full flex items-center justify-center">
        <div hlmCardHeader>
            <h3 hlmCardTitle class="font-bold text-2xl">Login</h3>
            <p hlmCardDescription class="text-[#64748B]">Enter your email below to login to your account</p>
        </div>

        <div hlmCardContent class="flex flex-col max-w-full">
            <label class="block mb-2" hlmLabel>
                Email
                <input class="mt-1.5 w-full border-2 rounded-md p-1" placeholder="m@example.com" hlmInput />
            </label>

            <label>
                <div>Password <a href="#" class="underline">Forgot your Password?</a></div>
                <input class="mt-1.5 w-full border-2 rounded-md p-1" placeholder="" hlmInput />
            </label>
        </div>

        <div hlmCardFooter class="flex flex-col">
            <label class="block mb-4" hlmLabel>
                <button hlmBtn class="bg-[#0F172A] text-white">Login</button>
            </label>

            <label>
                <p>Don't have an account? <a href="#" class="underline">Sing up</a></p>
            </label>
        </div>
    </section>

    <section class="bg-[#172745] flex-1 max-w-full h-full flex items-center justify-center">
        <img src="assets/logo.png">
    </section>
</section>